                        <div class="">
                                        <div class="row register-info-wraper">
                                                <div class="col-lg-12">
                                                 <div class="row">
                                                        <div class="col-lg-6 col-lg-offset-3" style="text-align:center;">
                                                        <div class="login">My Profile</div>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-lg-6 col-lg-offset-2">
                                                                <img class="prof-pic" src="<%= information.photo %>" alt="<%= information.username %>" class="img-circle">
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-lg-12" style="text-align:center;"><h2><%= information.username %></h2></div>
                                                </div>

                                                <div class="row">
                                                <div class="col-lg-12">
                                                    <table class="table table-responsive table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td class="naming">Username</td>
                                                            <td class="values"><%= information.username %></td>
                                                        </tr>
                                                    <tr>
                                                            <td class="naming">Mail</td>
                                                            <td class="values"><%= information.email %></td>
                                                    </tr>
                                                    <tr>
                                                            <td class="naming">ID Number</td>
                                                            <td class="values"><%= information.ID_Number %></td>
                                                    </tr>
                                                    <tr>
                                                            <td class="naming">Reg By</td>
                                                            <td class="values"><%= information.reg_by %></td>
                                                    </tr>
                                                    <tr>
                                                            <td class="naming">Reg On</td>
                                                            <td class="values"><%= information.reg_on %></td>
                                                    </tr>
                                                    <tr>
                                                            <td class="naming">Position</td>
                                                            <td class="values"><%= information.position %></td>
                                                    </tr>
                                                    <tr>
                                                            <td class="naming">Gender</td>
                                                            <td class="values"><%= information.gender %></td>
                                                    </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                                </div>                                                       
                                                </div>
                                        </div>
                        </div>