<head>
	<%= include ../head %>
	<title><%= title %></title>
</head>
<body onload="timer()">
<%= include navbar  %>
</nav>
	<div class="container-fluid" style="margin-top:60px;">
		<div class="row">
			<div class="col-lg-3"><%= include sidenavA %></div>
			<div class="col-lg-6">
				<h3><%= message %></h3>
			</div>
			<div class="col-lg-3">
				<%= include profile  %>
			</div>
		</div>
	</div>
</body>